body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  font-family: math;
}

#caja1 {
  background-color: #43b2e6;
  text-align: center;
  border: solid 1px black;
  padding: 50px;
  text-transform: uppercase;
}

#caja2 {
  background-color: rgb(239, 241, 234);
  text-align: left;
  padding: 2rem 3rem;
}

#caja3 {
  font-size: 8px;
  overflow: auto;
  border: 1px solid;
}

#caja4 {
  display: flex;
  justify-content: space-around;
}

.selectores {
  display: inline-flex;
  margin: 2rem 0;
}

h1 {
  margin: 0;
}

select {
  margin: 0 1rem;
  font-size: 21px;
  height: 38px;
  /* width: 48px; */
}

input {
  margin: 0 1rem;
  font-size: 21px;
}

#div2 {
  width: 50%;
}

.flexy {
  display: flex;
}

#cajaPersonal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.formulario {
  display: flex;
}

#miTabla {
  width: 100%;
  border-collapse: collapse;
}

#miTabla th,
#miTabla td {
  padding: 8px;
  text-align: center;
}

#miTabla th {
  background-color: lightgray;
}

#miTabla tr:nth-child(even) td {
  background-color: #f2f2f2;
}

#miTabla tr:nth-child(odd) td {
  background-color: #ffffff;
}

.ocultar {
  background-color: beige;
  display: flex;
}

#parrafo {
  color: green;
  font-size: 15px;
}
